<!-- Make sure you have included Bootstrap CSS in your project -->
<app-promotion-form></app-promotion-form>

<div class="p-2">
  <div class="flex justify-center text-center">
    <h2 class="mx-5 text-xl">{{title}}</h2> <!-- Display the title of the card -->
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Table displaying promotion types -->
          <table class="min-w-full bg-white border border-gray-300 p-5 border-r-4 shadow-sm mb-5">
            <thead>
              <tr class="w-full bg-violet-500 text-white hover:bg-violet-400">
                <th *ngFor="let column of displayColumns" class="px-6 py-2 text-xl text-left font-medium uppercase shadow-sm">{{ column }}
                </th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let element of dataSource.data" class="border-b border-gray-200 hover:bg-gray-100">
                <td *ngFor="let column of displayColumns" class="px-6 py-2 border-2 border-gray-200">
                  <span *ngIf="column !== 'edit'" class="text-xl">{{ getFieldValue(element, column) }}</span>
                  <span *ngIf="column === 'edit'">
                    <button class="text-red-500 hover:text-yellow-300 size-5" (click)="editPromotion(element.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path
                          d="M17.414 2.586a2 2 0 00-2.828 0l-10 10V16h3.414l10-10a2 2 0 000-2.828zM4 15v1h1v-1H4z" />
                      </svg>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>