<!-- Make sure you have included Bootstrap CSS in your project -->
<h1 class="text-3xl text-center font-bold">
  PromoType Form
</h1>

<section class="px-5 pt-5">
  <form [formGroup]="promotionForm" (ngSubmit)="saveToAll()">
    <div class="container">
      <div class="row flex flex-row flex-wrap">

        <!-- Promotion Type -->
        <div class="col-md-3 mb-3">
          <div class="relative">
            <div class="pt-4 ml-5 absolute w-[300px]">
              <button (click)="toggleDropdown()"
                class="relative flex items-center justify-between bg-white border focus:outline-none shadow-sm text-gray-600 rounded focus:ring ring-gray-200 group py-2  -top-5 w-full">
                <p class="px-4 mt-2 text-md" *ngIf="promotionForm.get('name')!.value">
                  {{ promotionForm.get('name')!.value }}
                </p>
                <p class="px-4 mt-2 text-md" *ngIf="!promotionForm.get('name')!.value">Select Promotion Type</p>
                <span class="border-l p-2 hover:bg-gray-100">
                  <img src="../../assets/image/down-arrow-svgrepo-com.svg" alt="down arrow" class="w-5 h-5">
                </span>
                <div *ngIf="isDropdownOpen"
                  class="absolute z-50 bg-opacity-15 top-full min-w-full w-max bg-white shadow-lg mt-1 rounded">
                  <ul class="text-left border rounded bg-transparent">
                    <li *ngFor="let type of promoTypes"
                      class="px-4 py-2 m-1 text-lg hover:bg-gray-100 border-b cursor-pointer shadow-sm"
                      (click)="selectPromotionType(type.name)">
                      {{ type.name }}
                    </li>
                  </ul>
                </div>
              </button>
            </div>
          </div>
        </div>

        <!-- Factor -->
        <div class="col-md-3 mb-3" *ngIf="!fieldStates.factor.hidden">
          <div class="relative">
            <div class="px-2 border-b-2">
              <input id="factor" class="mx-3 py-3 text-lg focus:outline-none w-80 peer placeholder-transparent"
                type="number" formControlName="factor"
                [attr.disabled]="promotionForm.get('factor')!.disabled ? true : null" placeholder=" " />
              <label for="factor"
                class="absolute left-1 top-1 text-gray-500 transition-all duration-300 transform origin-top-left peer-focus:-top-1 peer-focus:-left-1  peer-placeholder-shown:text-sm  peer-focus:text-xs peer-focus:text-gray-700">
                Factor
              </label>

            </div>
            <!-- Error message display -->
            <div
              *ngIf="promotionForm.get('factor')!.invalid && (promotionForm.get('factor')!.dirty || promotionForm.get('factor')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="promotionForm.get('factor')!.errors?.['required']">Factor is required</div>
              <div *ngIf="promotionForm.get('factor')!.errors?.['min']">
                Factor must be at least {{ promotionForm.get('factor')!.errors?.['min']?.['min'] }}
              </div>
              <div *ngIf="promotionForm.get('factor')!.errors?.['max']">
                Factor cannot be more than {{ promotionForm.get('factor')!.errors?.['max']?.['max'] }}
              </div>
            </div>
          </div>
        </div>

        <!-- Amount -->
        <div class="col-md-3 mb-3" *ngIf="!fieldStates.uom.hidden">
          <div class="relative">
            <div class="px-2 border-b-2">
              <input id="amount" type="number" formControlName="amount"
                [attr.disabled]="promotionForm.get('amount')!.disabled ? true : null"
                class="mx-3 py-3 text-lg focus:outline-none w-80 peer placeholder-transparent" placeholder=" " />
              <label for="amount"
                class="absolute left-1 top-1 text-gray-500 transition-all duration-300 transform origin-top-left peer-focus:-top-1 peer-focus:-left-1 peer-placeholder-shown:text-sm peer-focus:text-xs peer-focus:text-gray-700">
                Amount $
              </label>
            </div>
            <!-- Error message display -->
            <div
              *ngIf="promotionForm.get('amount')!.invalid && (promotionForm.get('amount')!.dirty || promotionForm.get('amount')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="promotionForm.get('amount')!.errors?.['required']">Amount is required</div>
              <div *ngIf="promotionForm.get('amount')!.errors?.['min']">
                Amount must be at least {{ promotionForm.get('amount')!.errors?.['min']?.['min'] }}
              </div>
              <div *ngIf="promotionForm.get('amount')!.errors?.['max']">
                Amount cannot be more than {{ promotionForm.get('amount')!.errors?.['max']?.['max'] }}
              </div>
            </div>
          </div>
        </div>

        <!-- UOM -->
        <div class="col-md-3" *ngIf="!fieldStates.amount.hidden">
          <div class="relative">
            <!-- Dropdown Button -->
            <div class="pt-0 ml-2 absolute w-[300px]">
              <button (click)="toggleDropDownUom()" [attr.disabled]="promotionForm.get('factor')!.disabled ? true : null"
                class="relative flex items-center justify-between bg-white border focus:outline-none shadow-sm text-gray-600 rounded focus:ring ring-gray-200 group py-2 w-full">
                <p class="px-4 mt-2 text-md" *ngIf="promotionForm.get('uom')!.value">
                  {{ promotionForm.get('uom')!.value }}
                </p>
                <p class="px-4 mt-2 text-md" *ngIf="!promotionForm.get('uom')!.value">
                  Select UOM
                </p>
                <span class="border-l p-2 hover:bg-gray-100">
                  <img src="../../assets/image/down-arrow-svgrepo-com.svg" alt="down arrow" class="w-5 h-5">
                </span>
                <div *ngIf="isDropdownUomOpen"
                  class="absolute z-50 bg-opacity-15 top-full min-w-full w-max bg-white shadow-lg mt-1 rounded">
                  <ul class="text-left border rounded bg-transparent">
                    <li *ngFor="let unit of uomOptions"
                      class="px-4 py-2 m-1 text-lg hover:bg-gray-100 border-b cursor-pointer shadow-sm"
                      (click)="selectUom(unit.name)">
                      {{ unit.name }}
                    </li>
                  </ul>
                </div>
              </button>
            </div>
            <!-- Error Message -->
            <div
              *ngIf="promotionForm.get('uom')!.invalid && (promotionForm.get('uom')!.dirty || promotionForm.get('uom')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="promotionForm.get('uom')!.errors?.['required']">UOM is required.</div>
              <!-- Add more error messages here if needed -->
            </div>
          </div>
        </div>


        <!-- Item Limit -->
        <div class="col-md-3 mb-3" *ngIf="!fieldStates.itemLimit.hidden">
          <div class="relative">
            <div class="px-2 border-b-2">
              <input id="itemLimit" type="number" formControlName="itemLimit"
                [attr.disabled]="promotionForm.get('itemLimit')!.disabled ? true : null"
                class="mx-3 py-3 text-lg focus:outline-none w-80 peer placeholder-transparent border-gray-300 rounded-md"
                placeholder=" " />
              <label for="itemLimit"
                class="absolute left-1 top-1 text-gray-500 transition-all duration-300 transform origin-top-left peer-focus:-top-1 peer-focus:-left-1 peer-placeholder-shown:text-sm peer-focus:text-xs peer-focus:text-gray-700">
                Item Limit
              </label>
            </div>
            <!-- Error message display -->
            <div
              *ngIf="promotionForm.get('itemLimit')!.invalid && (promotionForm.get('itemLimit')!.dirty || promotionForm.get('itemLimit')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="promotionForm.get('itemLimit')!.errors?.['required']">Item limit is required</div>
              <div *ngIf="promotionForm.get('itemLimit')!.errors?.['min']">
                Item limit must be at least {{ promotionForm.get('itemLimit')!.errors?.['min']?.['min'] }}
              </div>
              <div *ngIf="promotionForm.get('itemLimit')!.errors?.['max']">
                Item limit cannot be more than {{ promotionForm.get('itemLimit')!.errors?.['max']?.['max'] }}
              </div>
            </div>
          </div>
        </div>

        <!-- Min Quantity -->
        <div class="col-md-3 mb-3" *ngIf="!fieldStates.minQuantity.hidden">
          <div class="relative">
            <div class="px-2 border-b-2">
              <input id="minQuantity" type="number" formControlName="minQuantity"
                [attr.disabled]="promotionForm.get('minQuantity')!.disabled ? true : null"
                class="mx-3 py-3 text-lg focus:outline-none w-80 peer placeholder-transparent border-gray-300 rounded-md"
                placeholder=" " />
              <label for="minQuantity"
                class="absolute left-1 top-1 text-gray-500 transition-all duration-300 transform origin-top-left peer-focus:-top-1 peer-focus:-left-1 peer-placeholder-shown:text-sm peer-focus:text-xs peer-focus:text-gray-700">
                Min Quantity
              </label>
            </div>
            <!-- Error message display -->
            <div
              *ngIf="promotionForm.get('minQuantity')!.invalid && (promotionForm.get('minQuantity')!.dirty || promotionForm.get('minQuantity')!.touched)"
              class="text-red-500 text-sm mt-1">
              <div *ngIf="promotionForm.get('minQuantity')!.errors?.['required']">Min quantity is required</div>
              <div *ngIf="promotionForm.get('minQuantity')!.errors?.['min']">
                Min quantity must be at least {{ promotionForm.get('minQuantity')!.errors?.['min']?.['min'] }}
              </div>
              <div *ngIf="promotionForm.get('minQuantity')!.errors?.['max']">
                Min quantity cannot be more than {{ promotionForm.get('minQuantity')!.errors?.['max']?.['max'] }}
              </div>
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="col-12">
          <div class="d-flex justify-content-end">
            <button class="p-3 border-2"
              [ngClass]="{ 'bg-light-blue': !promotionForm.valid , 'bg-blue': promotionForm.valid}" type="submit"
              [disabled]="!promotionForm.valid">Save to All</button>              
          </div>
          <hr class="h-px my-8 bg-gray-200 border-0.5.5 dark:bg-gray-500">
        </div>
      </div>
    </div>
  </form>
</section>
